<%- include('../partials/header') %>

<main>

  <h1><%= title %></h1>

  <form
    action="/organizations/edit/<%= organization.organization_id %>"
    method="POST"
  >

    <!-- NAME -->
    <div class="form-group">

      <label for="name">
        Organization Name
      </label>

      <input
        type="text"
        id="name"
        name="name"
        maxlength="150"
        required
        value="<%= organization.name %>"
      />

    </div>


    <!-- DESCRIPTION -->
    <div class="form-group">

      <label for="description">
        Description
      </label>

      <textarea
        id="description"
        name="description"
        maxlength="500"
        required
      ><%= organization.description %></textarea>

    </div>


    <!-- CONTACT EMAIL -->
    <div class="form-group">

      <label for="contactEmail">
        Contact Email
      </label>

      <input
        type="email"
        id="contactEmail"
        name="contactEmail"
        required
        value="<%= organization.contact_email %>"
      />

    </div>


    <!-- SUBMIT BUTTON -->
    <button type="submit">
      Update Organization
    </button>

  </form>

</main>

<%- include('../partials/footer') %>