<%- include('../partials/header') %>

<main>

  <h1><%= title %></h1>

  <form
    action="/projects/edit/<%= project.project_id %>"
    method="POST"
  >

    <!-- PROJECT TITLE -->
    <div class="form-group">

      <label for="title">
        Project Title
      </label>

      <input
        type="text"
        id="title"
        name="title"
        maxlength="200"
        required
        value="<%= project.title %>"
      />

    </div>


    <!-- DESCRIPTION -->
    <div class="form-group">

      <label for="description">
        Description
      </label>

      <textarea
        id="description"
        name="description"
        maxlength="1000"
        required
      ><%= project.description %></textarea>

    </div>


    <!-- LOCATION -->
    <div class="form-group">

      <label for="location">
        Location
      </label>

      <input
        type="text"
        id="location"
        name="location"
        maxlength="200"
        required
        value="<%= project.location %>"
      />

    </div>


    <!-- DATE -->
    <div class="form-group">

      <label for="date">
        Project Date
      </label>

      <input
        type="date"
        id="date"
        name="date"
        required
        value="<%= new Date(project.project_date).toISOString().split('T')[0] %>"
      />

    </div>


    <!-- ORGANIZATION -->
    <div class="form-group">

      <label for="organizationId">
        Organization
      </label>

      <select
        id="organizationId"
        name="organizationId"
        required
      >

        <% organizations.forEach(organization => { %>

          <option
            value="<%= organization.organization_id %>"

            <%= organization.organization_id === project.organization_id
              ? 'selected'
              : ''
            %>
          >

            <%= organization.name %>

          </option>

        <% }) %>

      </select>

    </div>


    <!-- SUBMIT BUTTON -->
    <button type="submit">
      Update Project
    </button>

  </form>

</main>

<%- include('../partials/footer') %>